<div id="homeDivTitle">
    <section id="homeDivSectTop">
        <h2 id="homeh2Title">Details of Product</h2>
    </section>
    <section id="homeDivSectMiddle">
                <div class="homeUlLiDiv">
                    <h3 class="homeUlLih3">Code: </h3>
                    <h3 class="homeUlLih3">{{product._id}}</h3>
                </div>
                <div class="homeUlLiDiv">
                    <h3 class="homeUlLih3">Title: </h3>
                    <h3 class="homeUlLih3">{{product.title}}</h3>
                </div>
                <div class="homeUlLiDiv">
                    <h4 class="homeUlLih4">Price: $</h4>
                    <h4 class="homeUlLih4">{{product.price}}</h4>
                </div>
                <div class="homeUlLiDiv">
                    <h4 class="homeUlLih4">Code: </h4>
                    <h4 class="homeUlLih4">{{product.code}}</h4>
                </div>
                <div class="homeUlLiDiv">
                    <h5 class="homeUlLih5">Stock: </h5>
                    <h5 class="homeUlLih5">{{product.stock}}</h5>
                </div>
                <div class="homeUlLiDiv">
                    <h6 class="homeUlLih6">Category: </h6>
                    <h6 class="homeUlLih6">{{product.category}}</h6>
                </div>
                <div class="homeUlLiDiv">
                    <h6 class="homeUlLih6">Status: </h6>
                    <h6 class="homeUlLih6">{{product.status}}</h6>
                </div>
                <div class="homeUlLiDiv">
                    <h6 class="homeUlLih6">Thumbnails: </h6>
                    <h6 class="homeUlLih6">{{product.image}}</h6>
                </div>
                <div class="homeUlLiDiv">
                    <p class="homeUlLip">Description: </p>
                    <p class="homeUlLip">{{product.description}}</p>
                </div>
                <div class="homeUlLiDivBottom">
                    <button class="btnAddProductToCart">Add to Cart</button>
                    <div class="homeUlLiDivBottomQuantity">
                        <p class="homeUlLiDivBottomQuantityP"> Ingrese la cantidad: </p>
                        <input type="number" id="homeUlLiDivBottomQuantityInput">
                    </div>
                </div>
    </section>
</div>